.App {
	height: 100vh;
	width: 100%;
	font-family: "Raleway", sans-serif;
	background: url("./img/db-back.jpg") 100% 100%;
}

.game {
	height: 600px;
	width: 800px;
	border-radius: 20px;
	box-shadow: 0 0 15px 3px #00000020;
}

.title {
	font-weight: 600;
	text-align: center;
	font-size: 2em;
	padding: 10px;
}

.question {
	font-weight: 500;
	color: blue;
	font-size: 1.5em;
	padding: 10px;
	text-align: center;
	/* border: thin solid black; */
}

.answer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.answer-row {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
	height: 50px;
	border: thin solid black;
	margin: 1px;
	width: 100%;
	visibility: hidden;
}

.active {
	visibility: visible;
}

.input {
	box-sizing: border-box;
	width: 100%;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

input {
	width: 500px;
	height: 30px;
}
