.App {
	height: 100vh;
	width: 100%;
	font-family: "Raleway", sans-serif;
	/* background: ; */
	background-size: contain;
	background-position: center center;
	background-repeat: repeat-x;
	animation: paddle 10s ease-in-out infinite;
	background-color: #bd4f6c;
	background-image: url("./img/cartoon-db.png"),
		linear-gradient(326deg, #d7816a 74%, #bd4f6c 0%, #d7816a 74%);
}

@keyframes paddle {
	from {
		background-position-x: 0px;
	}
	to {
		background-position-x: -100vw;
	}
}

.game {
	height: 600px;
	width: 800px;
	border-radius: 20px;
	box-shadow: 0 0 15px 3px #00000020;
}

.title {
	font-weight: 600;
	text-align: center;
	font-size: 2em;
	padding: 10px;
}

.question {
	font-weight: 500;
	color: blue;
	font-size: 1.5em;
	padding: 10px;
	text-align: center;
	/* border: thin solid black; */
}

.answer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.answer-row {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
	height: 50px;
	border: thin solid black;
	margin: 1px;
	width: 100%;
	visibility: hidden;
}

.active {
	visibility: visible;
}

.input {
	box-sizing: border-box;
	width: 100%;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

input {
	width: 500px;
	height: 30px;
}

#wave {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 20%;
	z-index: 10;
}

#background-img {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	object-position: bottom;
	object-fit: contain;
	animation: paddle 10s linear infinite;
}
